@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap');

* {
    box-sizing: border-box;

}

body {
    font-family: 'Barlow', sans-serif;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* header */
.site-header__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 48px;
}

.site-header__header-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.site-header__header-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
}

.site-header__header-title:active {
    color: black;
    opacity: 0.5;
}

/* main */
.site-main__main-title {
    width: 493px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    margin-bottom: 32px;
}

.site-main__hero-block {
    background: #A2A2A2;
    border-radius: 10px;
    padding: 117px 0 116px 85px;
    margin-bottom: 136px;
}

.site-main__main-text {
    width: 445px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    margin-bottom: 56px;
}

.site-main__main-btn {
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    padding: 15px 31px;
    background: #0E8784;
    border-radius: 6px;
    border: none;
}

.site-main__main-btn:hover {
    background: #66D2CF;
}

.site-main__main-btn:active {
    background: #E2DEDB;
}

/* collection */
.collection {
    margin-bottom: 200px;
}

.collection-container {
    max-width: 1111px;
    margin: 0 auto;
}

.collection__title {
    width: 255px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}

.collection__text {
    width: 255px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}

.collection__list {
    background-image: url('/image/Group13.png');
    background-repeat: no-repeat;
    padding-top: 126px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* choose */
.choose{
    position: relative;
    margin-bottom: 207px;
}
.choose__top-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
}

.choose__top-text {
    width: 540px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 86px;
}

.choose__container {
    padding-top: 100px;
    padding-bottom: 84px;
    background: #2C343E;
    height: 577px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 100px;
}
.choose__1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.choose__item {
    padding: 72px 48px 48px 47px;
    background: #0E8784;
    border-radius: 8px;
}

.choose__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #FEFCF7;
}

.choose__text {
    width: 255px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

.choose__block {
    max-width: 1113px;
    margin: 0 auto;
}


/* footer */
footer {
    margin-top: 100px;
}

.footer_container {
    max-width: 1045px;
    margin: 0 auto;
}

.footer__span {
    margin-bottom: 82px;
}

.footer__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 80px;
}

.footer__title:active {
    opacity: 0.5;
}

.footer__list {
    width: 285px;
    display: flex;
    justify-content: space-between;
}

.footer__subtitle {
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.footer__footer-title {
    width: 255px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.footer__footer-text {
    width: 255px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.footer__item {
    margin-right: 95px;
}

.footer__and {
    background-color: #2C343E;
}

.footer__btn {
    padding: 16px 31px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background: #0E8784;
    border-radius: 6px;
    color: #FEFCF7;
    border: none;
    margin-top: 64px;
    margin-bottom: 200px;
}

.footer__btn:hover {
    background: #66D2CF;
    border-radius: 6px;
}

.footer__btn:active {
    background: #E2DEDB;
    border-radius: 6px;
}

.footer__foto {
    width: 236px;
    height: 26px;
}

.footer__and {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 47px 85px 49px 85px;
}

.footer__and-list {
    display: flex;
}

.and {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #83888F;
    margin-left: 33px;
}
.footer__and-icon{
    margin-left: 24px;
}